<ul id = "imenu" title="iTDWB" selected="true">
	<li><%= my_link_to("Suche", :iphones, :isearch, 1) %></li>		
	<li><%= my_link_to("Kategorien", :iphones, :cats, 1)%></li>
	<li><%= my_link_to("Grammatik", :iphones, :grms, 1)%></li>
	<li><%= my_link_to("Heute", :iphones, :last, 1)%></li>
	<li><%= my_link_to("eList", :iphones, :show_eList, 1)%></li>
	<li><a href="http://www.tdwb.org/vocs" target="_self">TDWB.home</a></li>
</ul>
